
.sidebar {
    max-width: 230px;
    height: 2000px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #2A3F54;
    margin-left: -1;
}

.sidebar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-item-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    background-color:#2A3F54;
    color: white;
    height: 35px;
  }
  
  .sidebar-item-icon {
    margin-right: 6px;
  }
  
  .sidebar-item-text {
    width: 100%;
  }
  
  .sidebar-item-expand-arrow {
    font-size: 1.2rem !important;
    background-color: #2A3F54;
    color: white;
  }
  
  .sidebar-item-expand-arrow-expanded {
    color: white;
    font-weight: bold;
  }
  .nav-top{
    margin-left: -117px;
    height: 60px;
  }
.logo{
    width: 100px;
    height: 100px;
}
.selected{
    background-color: white;
}
.test{
  text-decoration: none;
}

@media (max-width: 2560px) {

  .sidebar {
    width: 400px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:  #2A3F54;
    margin-left: -1;
}

}
@media (max-width: 1920px) {

  .sidebar {
    width: 400px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:  #2A3F54;
    margin-left: -1;
}

}
@media (max-width: 1440px) {

  .sidebar {
    width: 400px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:  #2A3F54;
    margin-left: -1;
}

}

@media (max-width: 1366px) {

  .sidebar {
    width: 200px;
    height: 1350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:  #2A3F54;
    margin-left: -1;
}

}



@media (max-width: 1285px) {

  .sidebar {
    width: 200px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:  #2A3F54;
    margin-left: -1;
}

}





@media (max-width: 768px) {

  .sidebar {
    width: 200px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:  #2A3F54;
    margin-left: -1;
}

.sidebar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-item-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    background-color:#2A3F54;
    color: white;
    height: 35px;
  }
  
  .sidebar-item-icon {
    margin-right: 6px;
  }
  
  .sidebar-item-text {
    width: 100%;
  }
  
  .sidebar-item-expand-arrow {
    font-size: 1.2rem !important;
    background-color: #2A3F54;
    color: white;
  }
  
  .sidebar-item-expand-arrow-expanded {
    color: white;
    font-weight: bold;
  }
 

}

