 .hr{
       margin-top: -18px;
       background-color: rgba(255, 0, 0, 0.322);
       box-shadow: -2px -2px 5px 3px rgba(163, 52, 52, 0.349);
       width: 340px;
     }
     .hrvalid{
      margin-top: -18px;
      background-color: rgba(15, 179, 51, 0.315);
      box-shadow: -2px -2px 5px 3px rgba(52, 163, 76, 0.349);
      width: 340px;

     }
    
     /* .valid{
       font-size: 12px;
       color: rgba(0, 128, 0, 0);
       font-weight: 900;
       text-align: left;
       margin-top: -20px;
       margin-bottom: 15px;
    
     } */
     .invalid{
       color: red;
      font-weight: 600; 
      font-size: 12px;
      text-align: left;
      margin-top: -18px;
      margin-bottom: 15px; 
      text-shadow: 2px 2px 2px rgb(189, 185, 185);
    }

  